{% extends '../base.html'%}
{%load staticfiles%}

{% block title %}Tasks{%endblock%}

{%block linkCSS %}
<link rel="stylesheet" href="{%static 'css/notes.css'%}">
<link rel="stylesheet" href="{%static 'css/tasks.css'%}">
{% endblock %}

{%block topbarTitle%}
    <div class="logo"><a href="{% url 'tasks' %}">Your Tasks</a></div>
{%endblock%}
{% block body %}
    <!-- <div class="create-note">
        <a href="{% url 'newTask' %}"><button class="new-note-button">Add</button></a>
    </div> -->
    <!-- <section> -->
    <div class="todoapp stack-large">
        <form>
            <h2 class="label-wrapper">
            <label htmlFor="new-todo-input" class="label__lg">
                Your Tasks
            </label>
            </h2>
            <input
            type="text"
            id="new-todo-input"
            class="input input__lg"
            name="text"
            autoComplete="off"
            />
            <button type="submit" class="btn btn__primary btn__lg">
            Add
            </button>
        </form>
        <div class="filters btn-group stack-exception">
            <button type="button" class="btn toggle-btn" aria-pressed="true">
            <span class="visually-hidden">Show </span>
            <span>all</span>
            <span class="visually-hidden"> tasks</span>
            </button>
            <button type="button" class="btn toggle-btn" aria-pressed="false">
            <span class="visually-hidden">Show </span>
            <span>Active</span>
            <span class="visually-hidden"> tasks</span>
            </button>
            <button type="button" class="btn toggle-btn" aria-pressed="false">
            <span class="visually-hidden">Show </span>
            <span>Completed</span>
            <span class="visually-hidden"> tasks</span>
            </button>
        </div>
        <h2 id="list-heading">
            3 tasks remaining
        </h2>
        <ul
            role="list"
            class="todo-list stack-large stack-exception"
            aria-labelledby="list-heading"
        >
            <li class="todo stack-small">
            <div class="c-cb">
                <input id="todo-0" type="checkbox" defaultChecked={true} />
                <label class="todo-label" htmlFor="todo-0">
                Eat
                </label>
            </div>
            <div class="btn-group">
                <button type="button" class="btn">
                Edit <span class="visually-hidden">Eat</span>
                </button>
                <button type="button" class="btn btn__danger">
                Delete <span class="visually-hidden">Eat</span>
                </button>
            </div>
            </li>
            <li class="todo stack-small">
            <div class="c-cb">
                <input id="todo-1" type="checkbox" />
                <label class="todo-label" htmlFor="todo-1">
                Sleep
                </label>
            </div>
            <div class="btn-group">
                <button type="button" class="btn">
                Edit <span class="visually-hidden">Sleep</span>
                </button>
                <button type="button" class="btn btn__danger">
                Delete <span class="visually-hidden">Sleep</span>
                </button>
            </div>
            </li>
            <li class="todo stack-small">
            <div class="c-cb">
                <input id="todo-2" type="checkbox" />
                <label class="todo-label" htmlFor="todo-2">
                Repeat
                </label>
            </div>
            <div class="btn-group">
                <button type="button" class="btn">
                Edit <span class="visually-hidden">Repeat</span>
                </button>
                <button type="button" class="btn btn__danger">
                Delete <span class="visually-hidden">Repeat</span>
                </button>
            </div>
            </li>
        </ul>
    </div>
    <!-- </section> -->


    {%for task in tasks%}
    <ul class="tasks">
        <a href="{% url 'editTask' task.id %}">
            <li class="list-title" style="background-color: {{task.color}}">{{task.title}}</li>
        </a>
        {%if task.tasks|length != 0 %}
            {%for item in task.tasks%}
            <li class="task" style="background-color: {{task.color}}">
                <input id="{{ forloop.counter0 }}" class="task-items-box" onchange="checkTaskLabel({{ forloop.counter0 }})" type="checkbox" name="task-value" value="{{item.task}}">
                <label for="{{ forloop.counter0 }}" class="task-items">{{item.task}}</label>
            </li>
            {%endfor%}
        {%else%}
            <a href="{%url 'newTask'%}" class="task class-value createNew">No task available. Create new Task</a>
        {%endif%}
    </ul>
    <a href="{% url 'editTask' task.id %}">EDIT</a>  
    {%endfor%}

{%endblock%}