{% extends '../base.html' %}
{% block title %}Manage Your Timetable{% endblock %}
{%load staticfiles%}
{% block linkCSS %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}
{% block body %}
    <section class="manage-option">
        <ul class="manage-list">
            <li class="heading manage">
                <abbr title="Go Back"><a href="{% url 'settings' %}"><i class="fas fa-arrow-left"></i></a></abbr>
                <span class="menu-head">Manage</span>
                <a class="save" style="cursor: pointer;" onclick="save_schedule()">Save</a>
            </li>
            <li class="manage selectDay">
                <select name="dayname" id="dayname" onchange="show_schedule()">
                    <option selected hidden disabled>Choose Day</option>
                    <option value="0" class="monday">Monday</option>
                    <option value="1" class="tuesday">Tuesday</option>
                    <option value="2" class="wednesday">Wednesday</option>
                    <option value="3" class="thurday">Thursday</option>
                    <option value="4" class="friday">Friday</option>
                    <option value="5" class="saturday">Saturday</option>
                </select>
            </li>
            <div class="show-list"></div>
        </ul>
        <div class="buttonCSS">
             <span class="showDisp addButton" onclick="addNew()">Add</span>
             <span class="showDisp deleteButton" onclick="deleteThis()">Delete</i></span>    
        </div>
    </section>
{% endblock %}
{% block includeJS %}
    <script src="{% static 'js/manage.js' %}"></script>
{% endblock %}
    
