{% extends '../base.html'%}
{%load staticfiles%}

{% block title %}Create New Note{%endblock%}

{%block linkCSS %}
<link rel="stylesheet" href="{%static 'css/notes.css'%}">
{% endblock %}

{%block topbarTitle%}
    <div class="logo"><a href="{% url 'notes' %}">Notes</a></div>
{%endblock%}

{% block body %}
    <section>
        <form class="new-note" method="POST">
            {% csrf_token %}
            <!-- <input type="text" name="title" id="title" placeholder="Title"> -->
            {{form.media}}
            {%for field in form.visible_fields%}
                    {{field}}
            {%endfor%}
            <label for="color" id="labelColor">Color
                <input type="color" name="color" id="color" value="#121212">
            </label>
            <input type="submit" value="Create" id='create' class="manageLink">
        </form>
    </section>
{%endblock%}