{% extends '../base.html'%}
{%load staticfiles%}

{% block title %}Notes{%endblock%}

{%block linkCSS %}
<link rel="stylesheet" href="{%static 'css/notes.css'%}">
{% endblock %}

{%block topbarTitle%}
    <div class="logo"><a href="{% url 'notes' %}">Your Notes</a></div>
{%endblock%}
{% block body %}
    <div class="create-note">
        <a href="{% url 'newNote' %}"><button class="new-note-button">Create New Note</button></a>
    </div>
    <ul class="notes">
    {%for note in notes%}
    <a href="{% url 'editNote' note.id %}">
        <li class="note" style="background-color: {{note.color}}">
            <div class="note-title">{{note.title}}</div><hr>
            <div class="note-date">{{note.created_on}}</div>
            <div class="note-body">{{note.content|safe}}</div>
        </li>
    </a>  
    {%endfor%}
    </ul>
{%endblock%}