h2{
    display: flex;
    justify-content: center;
}
.authForm{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .email, .pass, #register{
        position: relative;
    }
    input, #register button{
        background-color: #121212;
        border: 0;
        outline: none;
        margin: 7px;
        padding: 5px;
        height: 35px;
        color: white;
        font-size: 18px;
        overflow: hidden;
    }

        .email input, .pass input{
            width: inherit;
            padding-left: 30px;
        }
        .email i, .pass i{
            position: absolute;
            top: 15px;
            left: 12px;
        }
        #register{
            width: 100%;
            display: flex;
            justify-content: center;
            color: 
        }
        #register button{
            width: 150px;
            border-radius: 7px;
            cursor: pointer;
            background-color: violet;
            color: black;
        }
        #register button:focus{
            box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.5);
        }
    .extra-links{
        display: flex;
        color: violet;
        justify-content: space-between;
        width: 350px;
        cursor: pointer;
    }
    @media screen and (max-width: 767px){
        input{
            width: 75%;
        }
        .extra-links{
            flex-direction: column;
            align-items: center;
        }
    }