h2{
    display: flex;
    justify-content: center;
}
.authForm{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    input, #register{
        background-color: #121212;
        border: 0;
        outline: none;
        margin: 7px;
        padding: 5px;
        height: 35px;
        color: white;
        /* width: 50%; */
        font-size: 18px;
        overflow: hidden;
    }
    #register{
        width: 56.5%;
        cursor: pointer;
    }
    #register:hover{
        background-color: violet;
        color: black;
    }

    .email, .pass{
        position: relative;
    }
        .email input, .pass input{
            width: inherit;
            padding-left: 30px;
        }
        .email i, .pass i{
            position: absolute;
            top: 15px;
            left: 12px;
        }
    .extra-links{
        display: flex;
        color: violet;
        justify-content: space-between;
        width: 50%;
        cursor: pointer;
    }
    @media screen and (max-width: 767px){
        input, #register{
            width: 75%;
        }
        .extra-links{
            flex-direction: column;
            align-items: center;
        }
    }