@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
/* Fixed tag styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Poppins, Nunito, sans-sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* Color: #151016; */
a, a:hover{
    color: inherit;
    text-decoration: none;
    outline: none;
    overflow-y: hidden;
}
/* Body Layout - Grid */
body{
    color: white;
    background-color:  #191919;
    /*rgba(0,0,0,1);*/
    display: grid;
    position: relative;
    grid-template-areas:
        "topbar topbar topbar"
        "sidebar main main"
        "sidebar footer footer";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto 0;
    /* grid-gap: 10px; */
    min-height: 100vh;
}
/* # parts of layout - Header(Sidebar), Main, Footer */
.topbar{
    grid-area: topbar;
    display: block;
    /* background-color:#121212; */
    width: 100vw;
    height: 80px;
    overflow-y: hidden !important;
}
.sidebar{
    grid-area: sidebar;
    display: block;
    height: 100%;
    /* margin-top: 15px; */
    /* background-color: #000; */
    color: white;
    padding: 7px;    
    transition: left 0.5s linear;
}    
.main{
    margin: 7px 7%;
    overflow-y: hidden;
    /* margin-top: 60px; */
    grid-area: main;
}
footer{
    grid-area: footer;
    display: grid;
    justify-items: start;
    grid-template-columns: 0.5fr 2fr;
}

    
/* Main */
section{
    margin: 12px 0;
    background-color: #111111;
    padding: 7px;
    border-radius: 7px;
    margin: 25px auto;
}
.section:hover{
    box-shadow: 0 0 7px 2px rgba(0,0,0,0.5);
}
.sec-header{
    display: flex;
    font-size: 22px;
    border-bottom: 1px solid white;
    justify-content: space-between;
}
/* Section Header Button */
.manageLink{
    background-color: #66042D; /*rgb(105, 9, 214);*/
    padding: 7px;
    border-radius: 3px;
    color: white;
    opacity: 0.95;
    margin: 2px;
    margin-bottom: 5px;
    font-size: 15px;
    width: 150px;
    display: flex;
    border-radius: 7px;
    justify-content: center;
}
.manageLink:hover{
    color: white !important;
    box-shadow: inset 0 0 7px 2px rgba(0,0,0,0.5);
}

/* Quote */
.qod{
    display: flex;
    margin-top: 10px;
    align-items: center;
    flex-direction: column;
    padding: 7px;
}
.qod .sec-header{
    width: 100%;
    margin-bottom: 5px;
    align-self: flex-start;
}
.quote{
    font-style: oblique;
    padding: 7px;
    display: flex;
    font-size: 15px;
    justify-content: center;
}

/* Timetable */
/* navbar for weekday */
.week-bar{
    margin-bottom: 5px;
    /*width: 100%;*/
}
.week{
    display: flex;
    justify-content: space-between;
    margin: 3px;
    padding: 5px;
    list-style: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
    .weekday{
        align-self: center;
        margin: 0 auto;
        width: 100%;
        padding: 5px;
        text-align: center;
        margin: 3px;
        cursor: pointer;
        margin-bottom: 0;
        border-bottom: 4px solid #111111;
    }
    .weekday:hover{
        border-bottom-color: #66042D;
        background-color: #121212;
        transition: 0.4s;
    }
/* .view-schedule{
/*    margin: 7px 7%;*/
/* } */ 
.class-list{
    list-style: none;
    padding: 5px;
    margin: 5px;
    margin-top: 7px;
    font-size: 18px;
    border-radius: 7px;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.3s;
}
    .class-value{
        display: flex;
        justify-content: start;
        padding: 3px;
    }
    
.class-list:hover, .class-list:focus, .class-list:active{
    background-color: #66042D;
    border: none;
}
.active{
    border-bottom: 3px solid #66042D;
    background: #121212; 
}
.showDisp, .createNew{
    color:  white;
    background-color: #121212;
    display: flex;
    margin: auto;
    justify-content: center;
    width: 50%;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
    margin: 15px auto;
}
.createNew{
    border: 1px solid white;
}
.showDisp:hover{
    color:  #66042D;
    background-color: black;
    border: 1px solid #66042D;
}
.buttonCSS{
    display: flex;
    padding: 2px;
    margin: 3px;
    justify-content: center;
}
    .addButton, .deleteButton{
        margin: 3px;
        width: 25%;
    }

/* Tasks, Notes */
.tasks, .notes{
    margin: 3px 7%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tasks{
    flex-direction: column;
}
    .task, .note{
        padding: 7px;
        margin: 7px;
        width: 375px;
        border-radius: 7px;
    }
    .task{
        /* flex-direction: column; */
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }
    .task .task-items{
        padding-left: 8px;
    }
    .checked{
        text-decoration: line-through;
    }
    /* .note{
        wid
    } */
    .meta{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .note-title{
        font-size: 18px;
        font-weight: 600;
    }
    .note-date{
        font-size: 14px;
    }
    .note-body{
        padding: 8px;
        font-size: 15px;
    }

/* Community Forum */
.forums{
    display: flex;
    flex-direction: column;
/*    margin: 7px 7%;*/
    overflow-y: hidden;
}
    .topic-info{
        margin: 7px;
        background-color: #121212;
        padding: 5px;
        border-radius: 7px;
    }
    .topic-info:hover{
        background-color: #66042D;
        cursor: pointer;
    }

/* Footer */
footer{
    display: flex;
    flex-direction: column;
}
.social-media{
    display: flex;
    justify-content: center;
    /* justify-self: end; */
    padding: 5px;
    padding-right: 12px;
}
    .social-media i{
        font-size: 20px;
        overflow: hidden;
        padding: 7px;
        color: white;
        margin: 2px;
        border-radius: 50%;
        background-color: #66042D;
    }
    .social-media i:hover{
        cursor: pointer;
        /* color: #66042D; */
    }
.footer-content{
    font-size: 15px;
    text-align: center;    
    align-self: center;
    padding-bottom: 5px;
}
/* Auth-Page (Modal Page) */
.auth-page{
    display: none;
}

/* Media Queries Responsive Web App */
@media screen and (max-width: 767px) {
    /* Body */
    body{
        grid-template-columns: auto;
        grid-template-areas: 
        "topbar"
        "main"
        "footer"
    }
    /* Sidebar */
    .sidebar{
        position: fixed;
        left: -500px;
        top: 0;
        height: 100%;
        width: 275px;
        z-index: 2;
    }
        .sidebar .navbar{
            position: static;
        }
    /* Quote */
    .quote{
        margin: 5px;
    }
    /* Timetable */
    .view-schedule{
        margin: auto 10%;
    }
    .class-list{
        flex-direction: column;
        align-items: center;
    }
    .showDisp{
        width: 100%;
    }
    .buttonCSS{
        justify-content: center;
    }
    .addButton, .deleteButton{
        width: 25%;
    }
    /* Notes */
    .notes{
        flex-direction: column;
    }
    /* Forum */
    .forums{
        flex-direction: column;
    }
}

/* Loader */
.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
    background-color: rgba(0,0,0,1);
} 
.loader-icon{
    z-index: 10;
    background-color: rgba(0,0,0,1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    border-top: 5px solid #66042D;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    animation: load 2s linear infinite !important;
}
@keyframes load{
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
