@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
/* Fixed tag styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Poppins, Nunito, sans-sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a, a:hover{
    color: inherit;
    text-decoration: none;
    outline: none;
    overflow-y: hidden;
}
/* Body Layout - Grid */
body{
    color: white;
    background-color: rgba(0,0,0,1);
    display: grid;
    position: relative;
    grid-template-areas:
        "sidebar topbar topbar"
        "sidebar main main"
        "sidebar footer footer"
        "loader loader loader";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto 0;
    grid-gap: 10px;
    min-height: 100vh;
}
/* # parts of layout - Header(Sidebar), Main, Footer */
.sidebar{
    grid-area: sidebar;
    display: block;
    height: 100%;
    background-color: #121212;
    color: white;
    padding: 7px;    
    transition: left 0.5s linear;
}    
.topbar{
    grid-area: topbar;
}
.main{
    grid-area: main;
}
footer{
    grid-area: footer;
    display: grid;
    justify-items: start;
    grid-template-columns: 0.5fr 2fr;
}

/* Loader */
.loader{
    grid-area: loader;
    position: fixed;
    width: 100%;
    height: 100vh;
    /* z-index: 2; */
    overflow: hidden;
    background-color: rgba(0,0,0,1);
    display: block;
}
    .loader-icon{
        border: 16px solid #222222;
        border-top: 16px solid blue;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        position: absolute;
        top: 42%;
        left: 42%;
        /* transform: translateX(-50%); */
        animation: load 2s linear infinite;
    }
@keyframes load{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* Header(Sidebar) */
.sidebar .navbar{
    position: fixed;
}
.nav-top{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    font-size: 22px;
    margin: 7px;
    /* border-bottom: 1px solid white; */
}
    .white-line{
        display: block;
        background-color: #fff;
        width: 120%;
        height: 1px;
    }
    .auth{
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
    }
        /* Login/Register Button */
        .auth-link{
            cursor: pointer;
            font-size: 18px;
            border: 1px solid palevioletred;
            padding: 3px;
            width: 120px;
            align-items: center;
            margin: 3px;
            border-radius: 3px;
            display: flex;
            /* justify-content: center; */
        }
        .auth-link:hover{
            background-color: violet;
            color: black;
        }
        /* User Name and Profile Picture */
        .profile-disp{
            display: flex;
            cursor: pointer;
            margin-bottom: 5px;
        }
            .profile-text{
                overflow: hidden;
                background-color: magenta;
                padding: 7px;
                border-radius: 50%;
            }
            .profile-img{
                border-radius: 50%;
                width: 50px;
            }
        
        .profile-desc{
            font-size: 17px;
            padding-left: 5px;
        }
            .profile-link{
                padding-top: 5px;
            }
            .profile-link:hover{
                color: violet;  
            }
    .menu{
        /* border: 1px solid palevioletred; */
        /* height: 25%; */
        border-radius: 3px;
        padding: 3px 3px;
        padding-bottom: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        /* background-color: palevioletred; */
        display: none;
    }
    .menu i{
        font-size: 21px;
        align-self: center;
        /* padding: 1px; */
        padding-top: 3.5px;
        margin: 1px;
        /* padding-bottom: 0; */
        /* margin-bottom: 0; */
    }
    .menu:hover{
        /* background-color: black; */
        color: palevioletred;
        transition: 0.4s;
    }
    .i-cross{
        height: 35px;
        border: none;
        background-color: inherit;
        overflow-y: hidden;
    }
    .fa-times{
        padding: 4px;
        padding-right: 5px;
    }

.nav-list{
    list-style: none;
}
    .nav-item{
        display: flex;
        padding: 5px;
        cursor: pointer;
    }
    .nav-item i{
        padding-right: 7px;
        margin: 5px;
        color: palevioletred;
    }
    .nav-item:hover{
        background-color: black;
    }

    .logoutButton{
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }
    .logoutButton button{
        background-color: #121212;
        border-radius: 5px;
        border: 1px solid violet;
        color: violet;
        cursor: pointer;
        padding: 7px;
        transition: 0.5s;
    }
    .logoutButton button:hover{
        background-color: palevioletred;
        color: black;
    }

/* Topbar */
.topbar{
    color: white;
    display: flex;
    padding: 15px 12px;
    font-size: 18px;
    font-weight: 900;
    border-bottom: 1px solid white;
}
    .logo{
        font-size: 25px;
    }
    .logo:hover{
        color: blue;
    }
    
/* Main */
/* navbar for weekday */
.nav-bar{
    margin-bottom: 5px;
}
.week{
    display: flex;
    justify-content: space-between;
    margin: 3px;
    padding: 5px;
    list-style: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
    .weekday{
        align-self: center;
        margin: 0 auto;
        width: 100%;
        padding: 5px;
        text-align: center;
        margin: 3px;
        cursor: pointer;
        margin-bottom: 0;
    }
    .weekday:hover{
        border-bottom: 4px solid blue;
        background-color: #121212;
        transition: 0.4s;
    }

/* Quote */
.qod{
    display: flex;
    margin-top: 10px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 5px;
    margin: 3px 7%;
}
.quote{
    display: flex;
    font-size: 20px;
    justify-content: center;
}
/* Section End Button */
.manageButton{
    display: flex;
    justify-content: center;
    margin: 5px auto;
    margin-bottom: 12px;
}
    .manageLink{
        background-color: rgb(105, 9, 214);
        padding: 5px;
        border-radius: 3px;
    }
    .manageLink:hover{
        background-color: #121212;
        color: whitesmoke;
    }

/* Timetable */
.sec-header{
    display: flex;
    margin: 7px 7%;
    font-size: 22px;
    border-bottom: 1px solid white;
}
.sec-header a:hover{
    color: blue;
}
.view-schedule{
    margin: 7px 7%;
}
.class-list{
    list-style: none;
    padding: 5px;
    margin: 5px;
    margin-top: 7px;
    font-size: 18px;
    border-radius: 7px;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.3s;
}
    .class-value{
        display: flex;
        justify-content: start;
        padding: 3px;
    }
    
.class-list:hover, .class-list:focus, .class-list:active{
    background-color: blue;
    border: none;
}
.active{
    border-bottom: 3px solid blue;
    background: #121212; 
}
.showDisp{
    color:  white;
    background-color: #121212;
    display: flex;
    margin: auto;
    justify-content: center;
    width: 50%;
    border-radius: 7px;
    transition: 0.5s;
    cursor: pointer;
}
.showDisp:hover{
    color:  blue;
    background-color: black;
    border: 1px solid blue;
}
.buttonCSS{
    display: flex;
    padding: 2px;
    margin: 3px;
    justify-content: center;
}
    .addButton, .deleteButton{
        margin: 3px;
        width: 25%;
    }

/* Tasks, Notes */
.tasks, .notes{
    margin: 3px 7%;
    display: flex;
    flex-direction: column;
}
    .note, .task{
        padding: 7px;
        margin: 7px;
        min-height: 100%;
        border-radius: 7px;
    }
    .task{
        display: flex;
        justify-content: space-between;
    }

/* Community Forum */
.forums{
    display: flex;
    flex-direction: column;
    margin: 7px 7%;
    overflow-y: hidden;
}
    .topic-info{
        margin: 7px;
        background-color: #121212;
        padding: 5px;
        border-radius: 7px;
    }
    .topic-info:hover{
        background-color: blue;
        cursor: pointer;
    }
/* Footer */
.social-media{
    justify-self: end;
    padding: 5px;
    padding-right: 12px;
}
    .social-media i{
        font-size: 25px;
        overflow: hidden;
        padding: 0;
    }
    .social-media i:hover{
        cursor: pointer;
        color: #410388;
    }
.footer-content{
    font-size: 25px;    
    align-self: center;
    padding-left: 15px;
}
/* Auth-Page (Modal Page) */
.auth-page{
    display: none;
}

/* Media Queries Responsive Web App */
@media screen and (max-width: 767px) {
    /* Body */
    body{
        grid-template-columns: auto;
        grid-template-areas: 
        "topbar"
        "main"
        "footer"
    }
    /* Sidebar */
    .menu{
        display: block;
    }
    .sidebar{
        position: fixed;
        left: -500px;
        top: 0;
        height: 100%;
        width: 275px;
        z-index: 2;
    }
        .sidebar .navbar{
            position: static;
        }
    /* Quote */
    .quote{
        margin: 5px;
    }
    /* Timetable */
    .view-schedule{
        margin: auto 10%;
    }
    .class-list{
        flex-direction: column;
        align-items: center;
    }
    .showDisp{
        width: 100%;
    }
    .buttonCSS{
        justify-content: center;
    }
    .addButton, .deleteButton{
        width: 25%;
    }
    /* Notes */
    .notes{
        flex-direction: column;
    }
    /* Forum */
    .forums{
        flex-direction: column;
    }
    /* Footer */
    footer{
        background-color: #121212;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1.5fr;
    }
    .social-media{
        display: flex;
        font-size: 25px;
        justify-content: center;
        justify-self: center;
    }
        .social-media i{
            padding: 5px;
        }
    .footer-content{
        font-size: 20px;
    }
}