.notes_sec{
    display: flex;
    flex-direction: column;
    
}   
.create-note{
    display: flex;
    justify-content: center;
}
    .new-note-button{
        border: none;
        padding: 7px;
        border-radius: 3px;
        outline: none;
        cursor: pointer;
    }

.notes{
    display: flex;
    list-style: none;
    margin: 12px 7px;
}
    .note{
        display: flex;
        flex-direction: column;
        padding: 7px;
        margin: 7px;
        border-radius: 3px;
        width: 375px;
        cursor: pointer; 
        transition: transform .2s;
    }
    .note:hover{
        /* transform: scale(1.002); */
        overflow-y: hidden;
    }

/* Edit And New Note Form */
.new-note{
    display: flex;
    flex-direction: column;
    /* width: 75%; */
    justify-content: center;
    margin: 10px;
}
    #id_title{
        color: white;
        background: #353535;
        border: none;
        border-radius: 3px;
        padding: 5px;
        margin-bottom: 5px;
        outline: none;
        font-size: 17px;
        padding: 7px;
        border-radius: 7px;
    }
    #id_content{
        width: 100%;
        border: none;
        background-color: #333333;
        color: white;
        padding: 7px;
        outline: none;
        border-radius: 7px;
        overflow-x: hidden;
        resize: vertical;
    }
    #labelColor{
        width: 100%;
        margin: 7px;
        padding: 3px;
        background-color: #121212;
    }
        #color{
            margin-top: 3px;
            border: 1px solid white;
            width: 75%;
        }
#save, #delete, #create{
    padding: 3px;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
#create{
    background: blue;
}
#save{
    background: green;
}
#delete{
    background-color: red;
    width: 100%;
}
.delLink{
    display: flex;
    justify-content: center;
    margin: 3px;
}