        <ul class="social-media">
            <li class="fb"><abbr title="Facebook"><i class="fab fa-facebook"></i></abbr></li>
            <li class="ig"><abbr title="Instagram"><i class="fab fa-instagram"></i></abbr></li>
            <li class="mail"><abbr title="Gmail"><i class="fas fa-envelope"></i></abbr></li>
            <li class="twit"><abbr title="Twitter"><i class="fab fa-twitter"></i></abbr></li>
            <li class="github"><abbr title="Github"><i class="fab fa-github"></i></abbr></li>
            <li class="reddit"><abbr title="Reddit"><i class="fab fa-reddit"></i></abbr></li>
        </ul>
        <div class="footer-content">
            <div class="copyright">Copyright &copy; 2019 - EmpDev by DC</div>
            <div>All Rights Reserved</div>
        </div> 