{%load static%}
<div class="topbar">
    <nav class="topnavbar">
        <div class="leftpart">
            <div class="menu head-cross" onclick="showSide()"><i class="fas fa-bars settings"></i></div>
            <div class="logo">
                <!-- <img src="{% static 'images/logo.png'%}" alt="COLLEGE BUDDY" width="200" height="35"> -->
                <a href="{% url 'index' %}">COLLEGE BUDDY</a>
            </div>
        </div>
        <div class="auth">
        {%if user.is_authenticated%}
            <div class="profile-desc"> 
                <div class="profile-link">
                    <img src="{%static 'images/default-profile-picture.png'%}" alt="{{user.first_name}}" width="30" height="30">
                </div>
            </div>
        {%else%}
            <a href="{%url 'login'%}" class="auth-link">
                <i class="fas fa-sign-in-alt"></i>
                <span>Login</span>
            </a>
            <a href="{%url 'register'%}" class="auth-link">
                <i class="far fa-plus-square"></i>
                <span>Join</span>
            </a>
        {%endif%}
        </div>
    </nav>
</div>
