<header class="forum-head">
    <nav class="forum-nav">
        <ul class="forum-nav-list">
            <a href="{% url 'community' %}"><li class="forum-link">Forum</li></a>
            <a href="{% url 'threads' %}"><li class="forum-link">Threads</li></a>
            <a href="{% url 'members' %}"><li class="forum-link">Members</li></a>
            <a href="{% url 'suggestions' %}"><li class="forum-link">Suggestions</li></a>
            <a href="{% url 'search' %}"><li class="forum-link">Search</li></a>
        </ul>
    </nav>
</header>
