{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="College Budddy, Django, Python, e-Commerce, Timetable, Community Forum, Notes, Tasks List, Attendace Manager, Dashboard, Profile">
    <title>{% block title %}{% endblock %} - College Budy | One place for all your needs in college</title>
    
    <link rel="manifest" href="{% static 'js/manifest.json' %}">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"> -->
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/topbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    {% block linkCSS %}{% endblock %}

    <link rel="apple-touch-icon" href="{% static 'images/icon.png' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">
</head>
<body>
    <!-- Topbar -->
    <header>
        {% include 'include/header.html' %}
    </header>
    <!-- Side Bar -->
    {% include 'include/sidebar.html' %}
    
    <!-- Loader -->
    <!-- <div class="loader">
        <div class="loader-icon"></div>
    </div> -->
    
    <!-- Main Section -->
    <main class="main">
        {% block body %}{% endblock %}
    </main>
    
    <!-- Footer -->
    <footer>
        {% include 'include/footer.html'%}
    </footer>
        
    <!-- JS Files -->
    <script>
        const csrftoken = '{{csrf_token}}'
    </script>
    <script src="{% static 'js/api.js' %}"></script>
    {% block includeJS %}{% endblock %}
</body>
</html>