{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="College Budddy, Django, Python, e-Commerce, Timetable, Community Forum, Notes, Tasks List, Attendace Manager, Dashboard, Profile">
    <title>College Budy - {% block title %}{% endblock %}</title>
    
    <link rel="manifest" href="{% static 'js/manifest.json' %}">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"> -->
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block linkCSS %}{% endblock %}

    <link rel="apple-touch-icon" href="{% static 'images/icon.png' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">
</head>
<body>
    <!-- Side Bar -->
    {% include 'include/sidebar.html' %}
    
    <!-- Top Bar -->
    <div class="topbar">
        <div class="menu head-cross" onclick="showSide()"><i class="fas fa-bars settings"></i></div>
        {%block topbarTitle %}
            <div class="logo"><a href="{% url 'index' %}">College Buddy</a></div>
        {%endblock%}
    </div>
    
    <!-- Main Section -->
    <main class="main">
        {% block body %}{% endblock %}
    </main>
    
    <!-- Footer -->
    {% include 'include/footer.html'%}
    
    <!-- Loader -->
    {% block loader %}{% endblock %}

    <!-- JS Files -->
    {% block customJS %}
        {% include 'include/script.html'%}
    {% endblock %}
    {% block includeJS %}{% endblock %}
</body>
</html>