{% extends 'base.html'%}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{%block topbarTitle %}
    <div class="logo"><a href="{% url 'index' %}">COLLEGE BUDDY</a></div>
{%endblock%}

{% block body %}   
    <div class="nav-bar">
        <nav class="navbar">
            <ul class="week" style="color: white;">
                <li class="weekday mon" onclick="loadView('mon')">Mon</li>
                <li class="weekday tue" onclick="loadView('tue')">Tue</li>
                <li class="weekday wed" onclick="loadView('wed')">Wed</li>
                <li class="weekday thu" onclick="loadView('thu')">Thu</li>
                <li class="weekday fri" onclick="loadView('fri')">Fri</li>
                <li class="weekday sat" onclick="loadView('sat')">Sat</li>
            </ul>
        </nav>
    </div>
    <section class="qod">
        <blockquote class="quote"></blockquote>
        <span class="quote-author"></span>
    </section>  
     
    <section class="schedule">
        <div class="sec-header"><a href="{%url 'timetable'%}">Timetable</a></div>
        <div class="view-schedule"></div>
        <div class="manageButton"><a href="{% url 'timetable' %}" class="manageLink">Edit Timetable</a></div>
    </section>

    <section class="task-list">
        <div class="sec-header"><a href="{%url 'tasks'%}">Tasks</a></div>
        <ul class="tasks">
            {%for task in tasks%}
            <a href="{% url 'editTask' task.id %}">
                <li class="task" style="background-color: {{task.color}}">
                    <div class="task-body">{{task.tasks|safe}}</div>
                    <div class="task-date">{{task.created_on}}</div>
                </li>
            </a>  
        {%endfor%}
        </ul>
        <div class="manageButton"><a href="{% url 'newTask' %}" class="manageLink">Add Task</a></div>
    </section>

    <section class="notes-list">
        <div class="sec-header"><a href="{%url 'notes'%}">Notes</a></div>
        <ul class="notes">
            {%for note in notes%}
            <a href="{% url 'editNote' note.id %}">
                <li class="note" style="background-color: {{note.color}}">
                    <div class="note-title">{{note.title}}</div><hr>
                    <div class="note-date">{{note.created_on}}</div>
                    <div class="note-body">{{note.content|safe}}</div>
                </li>
            </a>  
        {%endfor%}
        </ul>
        <div class="manageButton"><a href="{% url 'newNote' %}" class="manageLink">Take Notes</a></div>
    </section>

    <section class="forum-list">
        <div class="sec-header"><a href="{%url 'community'%}">Community Forum</a></div>
        <ul class="forums">
            {%for topic in topics%}
            <a href="{% url 'showTopic' topic.id %}">
                <div class="topic-info">
                    <li class="topic-name">{{topic.topic_name}}</li> 
                    <li>Posts - {{topic.topic_posts}}</li>
                    <li>Author - {{topic.topic_by.username}}</li>
                    <li>Last Post By - </li>
                </div>
            </a>  
        {%endfor%}
        </ul>
        <div class="manageButton"><a href="{% url 'createTopic' %}" class="manageLink">Create Topic</a></div>
    </section>
{% endblock %} 
{% block loader%}
<!-- Loader -->
<div class="loader">
        <div class="loader-icon"></div>
    </div>
{% endblock %}
{% block includeJS %}
<script src="{% static 'js/index.js'%}"></script>
{% endblock %}
