{% extends '../base.html' %}
{%load staticfiles%}
{% block title %}General Settings{% endblock %}
{% block linkCSS %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}
{% block body %}
    <section class="options">
        <ul class="option-list">
            <li class="opt-item opt-heading-manage">
                <span class="opt-heading">
                    <abbr title="Go Back"><a href="{% url 'settings' %}"><i class="fas fa-arrow-left"></i></a></abbr>
                    General
                </span>
                <a onclick="save()">Save</a>
            </li>
            <a id="backup">
                <li class="opt-item">
                    <i class="fas fa-save"></i>
                    <span class="backup_button">Backup</span>
                </li>
            </a>
            <li class="opt-item">
                <i class="fas fa-undo"></i>
                <label for="restore_file" onclick="restore()">Restore</label>
                <input id="restore_file" name="restore" type="file"/>
            </li>
            <a onclick="reset()"><li class="opt-item"><i class="fas fa-trash"></i>Reset</li></a>
        </ul>
    </section>
{% endblock %}
{% block includeJS %}
    <script src="{% static 'js/general.js' %}" charset="utf-8"></script>
{% endblock %}
